@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 2
   
   Bike the Mountains Tour Style Sheet
   Author: Nick Arneson
   Date: 2017/09/07  
   
   Filename: mw_styles.css

*/


/* Structural Styles */

body > footer address {font: normal; font-size: 0.9em; text-align: center; padding: 10px;}
body > footer {background-color: rgb(208, 184, 109); padding: 5px;}
body {background-color: rgb(227, 210, 173); font-family: 'Century Gothic', sans-serif;}
html {background-color: rgb(173, 189, 227);}


/* Heading Styles */

h1 h2 {font-weight: normal;}


/* Navigation Styles */

nav > ul a:link, nav > ul > a:visited { color: rgb(43, 59, 125); text-decoration: none;}
nav > ul a:hover, nav > ul > a:active { color: rgb(212, 35, 35);}
nav > ul {line-height: 2em; font-size: 0.9em; list-style-type: none;}


/* Article Styles */

article#tour_summary p:first-of-type:first-line {font-size: 1.2em; font-variant: small-caps;}
article#tour_summary p {font-size: 1.1em;}
article#tour_summary h1 {font-size: 2.2em; letter-spacing: 0.2em;}


/* Aside Styles */

aside#tour_itinerary h2:nth-of-type(even) {color: rgb(81, 95, 175);}
aside#tour_itinerary h2:nth-of-type(odd) {color: rgb(79, 91, 40);}
aside#tour_itinerary p:nth-of-type(even) {color: rgb(81, 95, 175);}
aside#tour_itinerary p:nth-of-type(odd) {color: rgb(79, 91, 40);}
aside#tour_itinerary p {font-size: 0.8em;}
aside#tour_itinerary h2 {font-size: 0.9em;}
aside#tour_itinerary h1 {font-size: 1.2em;}

/* Blockquote Styles */

blockquote {padding: 2.5px 10px;}
blockquote {background-color: rgb(173, 189, 227); color: rgb(255, 255, 255); opacity: 0.65;}